* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

body {

}

#content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.title {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.SubTitle{
    margin-bottom: 2rem;
}
button{
    width: 15rem;
}

#button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    height: 7rem;
}

.seequestion{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.choiceAnswers{
    font-size: 3rem;
}

#afficheMoiQuestion{
    font-size: 3rem;

}
#answer{
    font-size: 1rem;
}

#point{
    font-size:3rem ;
}

#récapQuestionsOfResponse{
    margin-top: 3rem;
    font-size: 2rem;
}

@media screen and (max-width: 752px ) {
    #button{
        display: flex;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 7rem;

    }
    #afficheMoiQuestion{
        font-size: 1.2rem;
        margin-left: 3rem;
    }

}

@media screen and (max-width: 320px ) {
#button{
    display: flex;
    justify-content: center;

}
#afficheMoiQuestion{
    display: flex;
    justify-content: center;
    margin-right: 3rem;

}
#récapQuestionsOfResponse{
    font-size: 1rem;
}
}

